/*icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/*Darumadrop One - Mynerve - Slackside One - Pixelify Sans*/
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Mynerve&family=Pixelify+Sans:wght@400..700&family=Slackside+One&display=swap');
/*Schoolbell*/
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    align-content: center;
    justify-content: center;

}
@keyframes moverfondo {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0; /* O más, según cuánto quieras mover */
  }
}

@keyframes moverfondoA {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -100%;
  }
}

@keyframes moverfondoD {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% -100%;
  }
}


body {
    background: url("bunny.gif");
    transition: background-color 0.8s;
    background-color: rgb(0, 168, 240);
    background-attachment: fixed;
    background-repeat: repeat;
    animation: moverfondo 40s linear 0s infinite normal none running;
}

main {
    font-size: 18px;
    line-height: 30px;
}

.contenido1 {
    position: absolute;
    margin-left: -127px;
    margin-top: 5px;
    z-index: 99;
}

.contenido2 {
    position: absolute;
    margin-left: -127px;
    margin-top: 5px;
    z-index: 99;
}

.contenido3 {
    position: absolute;
    margin-left: -127px;
    margin-top: 5px;
    z-index: 99;
}

.contenido4 {
    position: absolute;
    margin-left: -127px;
    margin-top: 5px;
    z-index: 99;
}
.contenido5 {
    position: absolute;
    margin-left: -127px;
    margin-top: 5px;
    z-index: 99;
}
.contenido6 {
    position: absolute;
    margin-left: -127px;
    margin-top: 5px;
    z-index: 99;
}
.contenido7 {
    position: absolute;
    margin-left: -127px;
    margin-top: 5px;
    z-index: 99;
}
.contenido8 {
    position: absolute;
    margin-left: -127px;
    margin-top: 5px;
    z-index: 99;
}
.contenido9 {
    position: absolute;
    margin-left: -127px;
    margin-top: 5px;
    z-index: 99;
}

.contenido10 {
    position: absolute;
    margin-left: -127px;
    margin-top: 5px;
    z-index: 99;
}

#card {
    position: relative; /* clave para que el ::before no se salga */
    margin: 100px auto;
    color: rgb(0, 137, 168);
    width: 800px;
    background-image: url("realbackcard.png");
    animation: moverfondo 30s linear 0s infinite normal none running;
    background-size: cover;
    border: 2px solid #ffffff;
    box-shadow: 4px 4px 0 #808080;
    z-index: 10;
    overflow: hidden; /* evita que el borde decorativo sobresalga */
    transform: translate(0%, 0%);
}

#card h1 {
    color: rgb(0, 100, 162);
}

#card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(80, 80, 80, 0.819); /* capa negra semitransparente */
    z-index: -2;
}

#recuerdos {
    position: relative; /* clave para que el ::before no se salga */
    margin: 100px auto;
    color: rgb(0, 137, 168);
    width: 800px;
    background-image: url("realbackcard.png");
    animation: moverfondo 30s linear 0s infinite normal none running;
    background-size: cover;
    border: 2px solid #ffffff;
    box-shadow: 4px 4px 0 #808080;
    z-index: 10;
    overflow: hidden; /* evita que el borde decorativo sobresalga */
    transform: translate(0%, 0%);
}

#recuerdos h1 {
    color: rgb(0, 100, 162);
}

#recuerdos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(80, 80, 80, 0.819); /* capa negra semitransparente */
    z-index: -2;
}

.reproductor-musica::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.337);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.reproductor-musica > * {
    position: relative;
    z-index: 2;
}
/* Hereda de las otras ventanas */
#card .barra-superior {
    background: url("repback.gif");
    background-size: cover;
    background-position: cover;
    color: white;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#card .titulo-ventana {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: Pixelify Sans, sans-serif;
    cursor: none;
}

#card .botones-ventana {
    display: flex;
    gap: 2px;
    font-family: Pixelify Sans;
}

#card .botones-ventana button {
    background-color: rgb(191, 246, 255);
    box-shadow: inset -3px -3px rgb(8, 112, 126), inset 2px 2px whitesmoke;
    border: 1px solid #000;
    width: 20px;
    height: 20px; 
    font-weight: bold;
    cursor: pointer;
    font-size: 0.75rem;
    padding-bottom: 2px;
    padding-right: 2px;
    font-family: Pixelify Sans;
}


#card .botones-ventana button:active {
    box-shadow: inset 2px 2px rgb(80, 80, 80);
    padding-bottom: 0px;
    padding-right: 0px;
}

#recuerdos .barra-superior2 {
    background: url("repback.gif");
    background-size: cover;
    background-position: cover;
    color: white;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#recuerdos .titulo-ventana2 {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: Pixelify Sans, sans-serif;
    cursor: none;
}

#recuerdos .botones-ventana-rec {
    display: flex;
    gap: 2px;
    font-family: Pixelify Sans;
}

#recuerdos .botones-ventana-rec button {
    background-color: rgb(191, 246, 255);
    box-shadow: inset -3px -3px rgb(8, 112, 126), inset 2px 2px whitesmoke;
    border: 1px solid #000;
    width: 20px;
    height: 20px; 
    font-weight: bold;
    cursor: pointer;
    font-size: 0.75rem;
    padding-bottom: 2px;
    padding-right: 2px;
    font-family: Pixelify Sans;
}


#recuerdos .botones-ventana-rec button:active {
    box-shadow: inset 2px 2px rgb(80, 80, 80);
    padding-bottom: 0px;
    padding-right: 0px;
}

/* Contenido interno de la tarjeta */
.contenido-card {
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 35px;
    text-align: center;
    z-index: -2; /* asegura que el texto quede por encima */

}

.contenido-card::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border-style: solid;
    border-width: 20px;
    border-image: url("border.png") 200 round;
    border-image-width: 100px;
    z-index: 2;
    pointer-events: none; /* permite hacer clics normalmente */
}

contenido-recuerdos {
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 35px;
    text-align: center;
    z-index: -2; /* asegura que el texto quede por encima */

}

.contenido-recuerdos::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border-style: solid;
    border-width: 20px;
    border-image: url("border.png") 200 round;
    border-image-width: 100px;
    z-index: 2;
    pointer-events: none; /* permite hacer clics normalmente */
}

.reproductor-musica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 30px;
    border-radius: 20px;
    background: url("mymelo.jpg");
    background-size: cover;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: white;
    font-family: Pixelify Sans, sans serif;
}

.reproductor-musica::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.337);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.reproductor-musica > * {
    position: relative;
    z-index: 99999;
}

.reproductor-musica h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6;
    font-family: Pixelify Sans, sans serif;
}

.reproductor-musica p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.6;
    font-family: Pixelify Sans, sans serif;
}

#progreso {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border: 1px solid rgb(210, 167, 167);
    background: rgba(193, 154, 154, 0.821);
    border-radius: 4px;
    margin: 32px 0 24px;
    cursor: pointer;

}

#progreso::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: rgb(255, 246, 246);
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 4px solid #ffffff;
    box-shadow: 0px 7px 10px rgb(255, 208, 208)
}
.controles {
    display: flex;
    justify-content: center;
}

.controles button {
    width: 50px;
    aspect-ratio: 1/1;
    margin: 20px;
    background: rgba(255, 210, 210, 0.886);
    color: rgb(255, 255, 255);
    border: 0px solid white;
    border-radius: 10px;
    outline: 0;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.1s linear;
    box-shadow: inset -3px -3px rgb(199, 141, 141), inset 3px 3px rgb(255, 255, 255);
}

.controles .control:active {
    transform: scale(0.8);
}

.controles .iconoControl:active {
    transform: scale(1.1);
}

.controles .control {
    transform: scale(0.9);
}

.controles .iconoControl {
    transform: scale(1.2);
}


.ventana {
    position: fixed;
    left: calc(100% - 310px); /* 300px de ancho + margen de seguridad */
    top: calc(100% - 300px);  /* ajusta según altura de tu ventana */
    width: 260px;
    background-color: #c0c0c0;
    border: 2px solid #ffffff;
    box-shadow: 3px 3px 0 #808080;
    z-index: 999;
}

.contenido2-ventana {
    position: fixed;
    left: calc(100% - 310px); /* 300px de ancho + margen de seguridad */
    top: calc(100% - 300px);  /* ajusta según altura de tu ventana */
    width: 260px;
    background-color: #c0c0c0;
    border: 2px solid #ffffff;
    box-shadow: 3px 3px 0 #808080;
    z-index: 999;
}

.ventana2 h1{
    color: whitesmoke;
    font-family: Pixelify Sans, sans-serif;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}
.ventana2 p{
    color: whitesmoke;
    font-family: Pixelify Sans, sans-serif;
    text-align: center;
    padding-top: 10px;
}

.ventana2 #disk{
    margin-left: 156px;
    padding: 0px;
    align-content: flex-start;
    justify-content: flex-end;
}
.ventana2 #rat{
    margin-left: 5px;
    padding: 0px;
    align-content: flex-start;
    justify-content: flex-end;
}


/* Barra de título tipo Windows 98 */
.barra-superior {
    background: url("glitter.gif");
    color: white;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
}

.barra-superior .titulo-ventana {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: Pixelify sans, sans serif;
}

.barra-superior2 {
    background: url("glitter.gif");
    color: white;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
}

.barra-superior2 .titulo-ventana {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: Pixelify sans, sans serif;
}


.botones-ventana {
    display: flex;
    gap: 2px;
}

.botones-ventana button {
    background-color: rgb(255, 202, 202);
    box-shadow: inset -3px -3px rgb(254, 153, 153), inset 2px 2px white;
    border: 1px solid #000;
    width: 20px;
    height: 20px; 
    font-weight: bold;
    cursor: pointer;
    font-size: 0.75rem;
    padding-bottom: 2px;
    padding-right: 2px;
}

.botones-ventana button:active {
    box-shadow: inset 2px 2px rgb(143, 78, 78);
    padding-bottom: 0px;
    padding-right: 0px;
}

.ventana2 {
    position: fixed;
    left: calc(100% - 310px); /* 300px de ancho + margen de seguridad */
    top: calc(100% - 500px);  /* ajusta según altura de tu ventana */
    width: 260px;
    background-image: url("photosback.gif");
    border: 2px solid #ffffff;
    box-shadow: 3px 3px 0 #808080;
    z-index: 999;
    font-family: Pixelify Sans, sans-serif;
    background-position: center;
    background-size: 90px;
}
.ventana2-content {
	display: block;
    flex-direction: column;
}

/* Barra de título tipo Windows 98 */
.barra-superior2 {
    background: rgb(0, 25, 189);
    color: white;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    font-family: Pixelify Sans, sans-serif;
}

.barra-superior2 .titulo-ventana2 {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: Pixelify sans, sans serif;
}

.botones-ventana2 {
    display: flex;
    gap: 2px;
}

.botones-ventana2 button {
    background-color: silver;
    box-shadow: inset -3px -3px rgb(80, 80, 80), inset 2px 2px whitesmoke;
    border: 1px solid #000;
    width: 20px;
    height: 20px; 
    font-weight: bold;
    cursor: pointer;
    font-size: 0.75rem;
    padding-bottom: 2px;
    padding-right: 2px;
}

.botones-ventana2 button:active {
    box-shadow: inset 2px 2px rgb(80, 80, 80);
    padding-bottom: 0px;
    padding-right: 0px;
}


/*===========================
= Ventana de primera foto =
===========================*/

#first-photo {
    position: relative;
    margin: 40px auto;
    margin-left: -233px;
    background-image: url("photosback.gif");
	animation: moverfondoA 30s linear infinite;
    background-size: 80px;
    background-position: center;
    color: white;
    border: 2px solid white;
    width: 400px;
    max-width: 100%;
    box-shadow: 4px 4px 0 #808080;
    text-align: center;           /* Cambia a 'left' */
      /* Añade un poco de margen interno */
}

#first-photo .barra-p1 {
    background: url("idk-back.gif");
    background-size: cover;
    background-position: center;
    color: white;
    border-bottom: 2px solid white;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#first-photo .p1-v {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: "Pixelify Sans", sans-serif;
    text-align: left;           /* Cambia a 'left' */
    flex-grow: 1;
    padding-left: 8px;          /* Añade un poco de margen interno */
}


#first-photo .p1-b {
    display: flex;
    gap: 2px;
    font-family: "Pixelify Sans", sans-serif;
}

#first-photo .p1-b button {
    background-color: rgb(191, 246, 255);
    box-shadow: inset -3px -3px rgb(8, 112, 126), inset 2px 2px whitesmoke;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.75rem;
    padding-bottom: 2px;
    padding-right: 2px;
}

#first-photo .p1-b button:active {
    box-shadow: inset 2px 2px rgb(80, 80, 80);
    padding-bottom: 0;
    padding-right: 0;
}

#first2-photo {
    position: relative;
    margin: 40px auto;
    margin-left: -233px;
    background-image: url("photosback.gif");
	animation: moverfondoA 30s linear infinite;
    background-size: 80px;
    background-position: center;
    color: white;
    border: 2px solid white;
    width: 400px;
    max-width: 100%;
    box-shadow: 4px 4px 0 #808080;
    text-align: center;           /* Cambia a 'left' */
      /* Añade un poco de margen interno */
}

#first2-photo .barra-p1 {
    background: url("idk-back.gif");
    background-size: cover;
    background-position: center;
    color: white;
    border-bottom: 2px solid white;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#first2-photo .p1-v {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: "Pixelify Sans", sans-serif;
    text-align: left;           /* Cambia a 'left' */
    flex-grow: 1;
    padding-left: 8px;          /* Añade un poco de margen interno */
}


#first2-photo .p1-b {
    display: flex;
    gap: 2px;
    font-family: "Pixelify Sans", sans-serif;
}

#first2-photo .p1-b button {
    background-color: rgb(191, 246, 255);
    box-shadow: inset -3px -3px rgb(8, 112, 126), inset 2px 2px whitesmoke;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.75rem;
    padding-bottom: 2px;
    padding-right: 2px;
}

#first2-photo .p1-b button:active {
    box-shadow: inset 2px 2px rgb(80, 80, 80);
    padding-bottom: 0;
    padding-right: 0;
}

#first3-photo {
    position: relative;
    margin: 40px auto;
    margin-left: -233px;
    background-image: url("photosback.gif");
	animation: moverfondoA 30s linear infinite;
    background-size: 80px;
    background-position: center;
    color: white;
    border: 2px solid white;
    width: 400px;
    max-width: 100%;
    box-shadow: 4px 4px 0 #808080;
    text-align: center;           /* Cambia a 'left' */
      /* Añade un poco de margen interno */
}

#first3-photo .barra-p1 {
    background: url("idk-back.gif");
    background-size: cover;
    background-position: center;
    color: white;
    border-bottom: 2px solid white;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#first3-photo .p1-v {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: "Pixelify Sans", sans-serif;
    text-align: left;           /* Cambia a 'left' */
    flex-grow: 1;
    padding-left: 8px;          /* Añade un poco de margen interno */
}


#first3-photo .p1-b {
    display: flex;
    gap: 2px;
    font-family: "Pixelify Sans", sans-serif;
}

#first3-photo .p1-b button {
    background-color: rgb(191, 246, 255);
    box-shadow: inset -3px -3px rgb(8, 112, 126), inset 2px 2px whitesmoke;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.75rem;
    padding-bottom: 2px;
    padding-right: 2px;
}

#first3-photo .p1-b button:active {
    box-shadow: inset 2px 2px rgb(80, 80, 80);
    padding-bottom: 0;
    padding-right: 0;
}

#first4-photo {
    position: relative;
    margin: 40px auto;
    margin-left: -233px;
    background-image: url("photosback.gif");
	animation: moverfondoA 30s linear infinite;
    background-size: 80px;
    background-position: center;
    color: white;
    border: 2px solid white;
    width: 400px;
    max-width: 100%;
    box-shadow: 4px 4px 0 #808080;
    text-align: center;           /* Cambia a 'left' */
      /* Añade un poco de margen interno */
}

#first4-photo .barra-p1 {
    background: url("idk-back.gif");
    background-size: cover;
    background-position: center;
    color: white;
    border-bottom: 2px solid white;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#first4-photo .p1-v {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: "Pixelify Sans", sans-serif;
    text-align: left;           /* Cambia a 'left' */
    flex-grow: 1;
    padding-left: 8px;          /* Añade un poco de margen interno */
}


#first4-photo .p1-b {
    display: flex;
    gap: 2px;
    font-family: "Pixelify Sans", sans-serif;
}

#first4-photo .p1-b button {
    background-color: rgb(191, 246, 255);
    box-shadow: inset -3px -3px rgb(8, 112, 126), inset 2px 2px whitesmoke;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.75rem;
    padding-bottom: 2px;
    padding-right: 2px;
}

#first4-photo .p1-b button:active {
    box-shadow: inset 2px 2px rgb(80, 80, 80);
    padding-bottom: 0;
    padding-right: 0;
}


#f1-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#f1-content img {
    max-width: 102%;
    height: auto;
    border: 1px solid white;
}

#f4-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#f4-content img {
    max-width: 102%;
    height: auto;
    border: 1px solid white;
}

#f5-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#f5-content img {
    max-width: 102%;
    height: auto;
    border: 1px solid white;
}

#f6-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#f6-content img {
    max-width: 102%;
    height: auto;
    border: 1px solid white;
}

#f7-content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#f7-content img {
    max-width: 102%;
    height: auto;
    border: 1px solid white;
}

#gif-confeti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Asegura que esté encima */
  pointer-events: none; /* No bloquea clics debajo */
  display: none; /* Oculto por defecto */
}
#gif-confeti img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#boton-confeti {
    width: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 40%;
    z-index: 99;
    position: relative;
}
#boton-confeti img{
    width: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#confeti-container p{
    color: rgba(128, 128, 128, 0.832);
    z-index: 99;
}
#first-photo2 {
    position: relative;
    margin: 40px auto;
    margin-left: -233px;
    background-image: url("photosback.gif");
	animation: moverfondoA 30s linear infinite;
    background-size: 80px;
    background-position: center;
    color: white;
    border: 2px solid white;
    width: 400px;
    max-width: 100%;
    box-shadow: 4px 4px 0 #808080;
    text-align: center;           /* Cambia a 'left' */
      /* Añade un poco de margen interno */
}

#first-photo2 .barra-p1 {
    background: url("idk-back.gif");
    background-size: cover;
    background-position: center;
    color: white;
    border-bottom: 2px solid white;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#first-photo2 .p1-v {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: "Pixelify Sans", sans-serif;
    text-align: left;           /* Cambia a 'left' */
    flex-grow: 1;
    padding-left: 8px;          /* Añade un poco de margen interno */
}

#first-photo2 .p1-b {
    display: flex;
    gap: 2px;
    font-family: "Pixelify Sans", sans-serif;
}

#first-photo2 .p1-b button {
    background-color: rgb(191, 246, 255);
    box-shadow: inset -3px -3px rgb(8, 112, 126), inset 2px 2px whitesmoke;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.75rem;
    padding-bottom: 2px;
    padding-right: 2px;
}

#first-photo2 .p1-b button:active {
    box-shadow: inset 2px 2px rgb(80, 80, 80);
    padding-bottom: 0;
    padding-right: 0;
}

#aceptar {
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: silver;
    box-shadow: inset -3px -3px rgb(52, 52, 52), inset 0.7px 2px rgb(255, 255, 255);
    border: 1px solid #ffffff;
    width: 70px;
    height: 30px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
}
#aceptar .contenido-boton {
    font-family: Pixelify Sans, sans-serif;
}
#aceptar:active .contenido-boton {
    transform: translate(1px, 1px);
}

#aceptar:active {
    box-shadow: inset 2px 2px rgb(80, 80, 80);
}

#rechazar {
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: silver;
    box-shadow: inset -3px -3px rgb(52, 52, 52), inset 0.7px 2px rgb(255, 255, 255);
    border: 1px solid #ffffff;
    width: 80px;
    height: 30px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    padding: 0;
}
#rechazar .contenido-boton {
    font-family: Pixelify Sans, sans-serif;
}
#rechazar:active .contenido-boton {
    transform: translate(1px, 1px);
}

#rechazar:active {
    box-shadow: inset 2px 2px rgb(80, 80, 80);
}

.botones {
    display: flex;
    gap: 40px; /* Espacio entre botones, ajusta si quieres más/menos */
}

.popup-demon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-demon img {
  width:700px;
  height: 628px;
}

.popup-demon .demon-window {
  width: 700px; /* Puedes ajustar si quieres que sea más grande */
  height: 680px;
  border: 3px solid red;
  font-family: "Pixelify Sans", sans-serif;
  
}

.popup-demon .barra-p2 {
  color: rgb(255, 5, 5);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border: 4px solid red;
  align-items: center;
  background: url("satan.gif");
  background-repeat: repeat;
  margin: 0px;
}

.popup-demon .p2-v {
  font-weight: bold;
  font-size: 14px;
  font-family: Pixelify Sans, sans-serif;
  border: 2px solid black;
  box-shadow: 4px 4px black;
}


.first-photo4 {
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-130%, -50%);
    margin: 5px;
    margin-left:30px;
    background-image: url("photosback.gif");
	animation: moverfondoA 30s linear infinite;
    background-size: 90px;
    color: white;
    border: 2px solid white;
    height: auto;
    width: 320px;
    max-width: 100%;
    min-height: 300px;
    box-shadow: 4px 4px 0 #808080;
    text-align: center;
}

.first-photo4 img {
    margin-top: 7px;
    border: 3px solid white;
}

.first-photo4 .barra-p1 {
    background: url("idk-back.gif");
    background-size: cover;
    background-position: center;
    color: white;
    border-bottom: 2px solid white;
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: row;
}

.first-photo4 .p1-v {
    font-weight: bold;
    font-size: 0.9rem;
    font-family: "Pixelify Sans", sans-serif;
    text-align: left;           /* Cambia a 'left' */
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-left: -30px;
    margin-top: -5px;
    margin-bottom: -5px;
       /* Añade un poco de margen interno */
}


.first-photo4 .p1-b {
    display: flex;
    gap: 2px;
    font-family: "Pixelify Sans", sans-serif;
    padding-right: 10px;
}

.first-photo4 .p1-b button {
    background-color: rgb(191, 246, 255);
    box-shadow: inset -3px -3px rgb(8, 112, 126), inset 2px 2px whitesmoke;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.75rem;
    padding-bottom: 2px;
    padding-right: 2px;
}

.first-photo4 .p1-b button:active {
    box-shadow: inset 2px 2px rgb(80, 80, 80);
    padding-bottom: 0;
    padding-right: 0;
}

.f2-content .p1-b button:active {
    padding: 20px;
    display: flex;
    justify-content: right;
}

.f2-content img {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    z-index: 9999;
}

.f2-content {
  padding-top: 12px; /* crea el espacio que deseas */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
  border: 1px solid white;
  margin-left: 1000px;
  position: absolute;
  z-index: 9999;
}

.oculto {
    display: none;
}

.oculto2 {
    display: none;
}

.firstwrap {
    position: relative;
    background-image: url(back.png);
    width: 600px;
    justify-self: center;
    padding: 0px;
    border-radius: 50px;
    box-shadow: 2px 2px rgb(105, 105, 105), inset 2px 2px white;
    z-index:0
}

.firstwrap::before {
  content: "";
  position: absolute;
  inset: 0; /* Equivale a top: 0; right: 0; bottom: 0; left: 0 */
  background-color: rgba(255, 255, 255, 0.6); /* Blanco con opacidad */
  z-index: 1; /* Asegura que esté por detrás del contenido */
  border-radius: 50px;
}

.firstwrap2::before {
  content: "";
  position: absolute;
  inset: 0; /* Equivale a top: 0; right: 0; bottom: 0; left: 0 */
  background-color: rgba(255, 255, 255, 0.6); /* Blanco con opacidad */
  z-index: 1; /* Asegura que esté por detrás del contenido */
  border-radius: 90px;
}

.firstwrap2 {
    position: relative;
    background-image: url(back.png);
    width: 300px;
    justify-self: center;
    padding: 0px;
    border-radius: 90px;
    box-shadow: 2px 2px rgb(0, 0, 0), inset 2px 2px white;
}

.firstwrap p{
    padding: 20px;
    z-index: 6;
    position: relative;
}

.firstwrap2 h1{
    padding: 20px;
    padding-top: 5px;
    z-index: 6;
    position: relative;
}

.ventana-mensaje {
  position: fixed;
  left: calc(100% - 310px); /* Ajusta según necesidad */
  top: calc(100% - 680px);
  width: 260px;
  background-image: url("backtom.gif");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  box-shadow: 3px 3px 0 #808080;
  z-index: 999;
  font-family: "Pixelify Sans", sans-serif;
}

.barra-mensaje {
  background-image: url("new.gif");
  background-size: cover;         /* Ajusta al tamaño del div */
  background-position: center;    
  color: white;
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}

.titulo-mensaje {
  font-weight: bold;
  font-size: 0.9rem;
  font-family: Pixelify Sans, sans-serif;
}

.botones-mensaje {
  display: flex;
  gap: 2px;
}

.botones-mensaje button {
  background-color: rgb(248, 154, 255);
  box-shadow: inset -3px -3px rgb(255, 84, 221), inset 2px 2px rgb(255, 242, 242);
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.75rem;
  padding-bottom: 2px;
  padding-right: 2px;
}

.botones-mensaje button:active {
  box-shadow: inset 2px 2px rgb(80, 80, 80);
  padding-bottom: 0;
  padding-right: 0;
}

.contenido-mensaje {
  display: flex;
  align-items: center; /* Centra verticalmente */
  gap: 10px; /* Espacio entre imagen y texto */
  padding: 10px;
}

.contenido-mensaje h1 {
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.contenido-mensaje p {
  color: rgb(255, 255, 255);
  font-family: Pixelify Sans, sans-serif;
  width: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contenido-mensaje img {
  width: 80px;
  height: auto;
}

#firm {
	color: rgb(0, 208, 255);
}

.top #barratop{
    position: relative; /* clave para que el ::before no se salga */
    color: rgb(255, 255, 255);
    width: 1143px;
    transform: translate(6%, 160%);
    background-image: url("estrella.gif");
    background-position: 50% 50%;
    background-size: cover;
    border: 2px solid #ffffff;
    box-shadow: 4px 0px 0 #0046a0;
    padding: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    z-index: 205;
    margin-left: -10px;
    overflow: hidden; /* evita que el borde decorativo sobresalga */
}

#barratop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.515); /* capa negra semitransparente */
    z-index: -2;
}

#barratop p {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    z-index: 91;
}

.top #fondotop{
    position: relative; /* clave para que el ::before no se salga */
    width: 920px;
    background-color: white;
    transition: background-color 0.8s, background-image 0.8s;
    height: 5040px;
    background: url("fondomoving3.png");
    margin: 0 auto;
    transform: translate(-4.015%, 9%);
    background-position: center;
    margin-bottom: -4640px;
    margin-top: -400px;
    margin-left: 338px;
    animation: moverfondoD 100s linear 0s infinite normal none running;
    box-shadow: 4px 4px 0 #0046a0;
    z-index: 10;
    overflow: hidden; /* evita que el borde decorativo sobresalga */
}
#borde{
    position: absolute; /* clave para que el ::before no se salga */
    width: 959px;
    height: 5073px;
    border-image: url("border2.png") 340 round;
    background-position: center;
    border-image-width: 100px;
    margin: 0 auto;
    transform: translate(-4.015%, 9%);
    margin-bottom: -4640px;
    margin-top: -420px;
    margin-left: 319px;
    z-index: 15;
    overflow: hidden; /* evita que el borde decorativo sobresalga */
}

#fondogrid {
    position: absolute;
    background-image: url("galaxygif.gif");
    animation: moverfondoA 30s linear 0s infinite normal none running;
    width: 250px;
    height: 950px;
    z-index: 3;
    margin-left: 61px;
    margin-top: 50px;
}

#fondogrid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.718); /* capa negra semitransparente */
    z-index: -2;
}

#borde2{
    position: absolute; /* clave para que el ::before no se salga */
    width: 282px;
    height: 975px;
    border-image: url("border3.png") 200 round;
    background-position: center;
    border-image-width: 100px;
    margin: 0 auto;
    transform: translate(-4.015%, 9%);
    margin-top: -42px;
    margin-left: 59px;
    z-index: 202;
    pointer-events: none;
    overflow: hidden; /* evita que el borde decorativo sobresalga */
}

.contenido-grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 500px;
    display: grid;
    z-index: 198;
    color: whitesmoke;
    justify-content: left;
    margin-left: 80px;
}

.contenido-grid p {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    margin-left: 55px;
    text-align: center;
}

#gridprincipal {
    position: absolute;
    font-size: 22px;
    margin-top: 90px;
    margin-left: -19px;
    padding: 50px;
    padding-bottom: 6px;
    padding-left: 20px;
    animation: moverfondoA 20s linear 0s infinite normal none running;
    padding-right: 130px;
    border: 4px solid white;
    background-image: url("realbackcard.png");
    background-size: 300px;
    z-index: -2;
    justify-content: left;
    text-align: left;
}



#fondogridprincipal {
    position: absolute;
    background-image: url("fondomoving3.png");
    animation: moverfondoD 10s linear 0s infinite normal none running;
    margin-top: 190px;
    margin-left: 7.5px;
    z-index: -5;
    width: 195px;
    height: 70px;
    border: 4px solid white;
}



#fondogridprincipal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.349); /* capa negra semitransparente */
    z-index: -2;
}

#gridprincipal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.59); /* capa negra semitransparente */
    z-index: -2;
}

.botongrid1{
    background-image: url("repback.gif");
    background-size: cover;
    background-position: center;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.632), inset 2px 2px rgba(245, 245, 245, 0.429);
    border: 2px solid #ffffff;
    color: white;
    font-size: 16px;
    width: 180px;
    height: 35px; 
    cursor: pointer;
    font-family: Pixelify Sans;
    position: absolute;
    margin-top: 212px;
    margin-left: 18.5px;
    padding-bottom: 10px;
    z-index: 201;
}

.botongrid1:active {
    box-shadow: inset 2px 2px rgb(80, 80, 80);
    padding-bottom: 0px;
    padding-right: 0px;
    z-index: 500;
}

.botongrid1:hover {
    cursor: pointer;
}

.botongrid1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.388); /* capa negra semitransparente */
    z-index: -1;
}

.botongrid1 > * {
    z-index: 500;
}

#gridgaleria {
    position: absolute;
    font-size: 23px;
    margin-top: 280px;
    margin-left: -19px;
    animation: moverfondoA 20s linear 0s infinite normal none running;
    padding: 50px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 140px;
    padding-top: 10px;
    border: 4px solid white;
    background-image: url("batman.jpg");
    background-size: 200px;
    z-index: -2;
    justify-content: left;
    text-align: left;
}

#gridgaleria::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.59); /* capa negra semitransparente */
    z-index: -2;
}

.botongrid2{
    background-image: url("photosback.gif");
    background-size: cover;
    background-position: center;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.632), inset 2px 2px rgba(245, 245, 245, 0.429);
    border: 2px solid #ffffff;
    color: white;
    font-size: 16px;
    width: 180px;
    height: 40px; 
    cursor: pointer;
    font-family: Pixelify Sans;
    position: absolute;
    margin-top: 365px;
    margin-left: 18.5px;
    padding-bottom: 10px;
    z-index: 201;
}

.botongrid2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.388); /* capa negra semitransparente */
    z-index: -1;
}

.botongrid2 > * {
    z-index: 2;
}

.botongrid3{
    background-image: url("photosback.gif");
    background-size: cover;
    background-position: center;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.632), inset 2px 2px rgba(245, 245, 245, 0.429);
    border: 2px solid #ffffff;
    color: white;
    font-size: 16px;
    width: 180px;
    height: 40px; 
    cursor: pointer;
    font-family: Pixelify Sans;
    position: absolute;
    margin-top: 430px;
    margin-left: 18.5px;
    padding-bottom: 10px;
    z-index: 201;
}

.botongrid3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.388); /* capa negra semitransparente */
    z-index: -1;
}

.botongrid3 > * {
    z-index: 2;
}

.botongrid4{
    background-image: url("fondomoving2.png");
    background-size: 100px;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.632), inset 2px 2px rgba(245, 245, 245, 0.429);
    border: 2px solid #ffffff;
    color: white;
    font-size: 16px;
    width: 180px;
    height: 40px; 
    cursor: pointer;
    font-family: Pixelify Sans;
    position: absolute;
    margin-top: 495px;
    margin-left: 18.5px;
    padding-bottom: 10px;
    z-index: 201;
}

.botongrid4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.388); /* capa negra semitransparente */
    z-index: -1;
}

.botongrid4 > * {
    z-index: 2;
}

#fondogridgaleria {
    position: absolute;
    background-image: url("bats.png");
    background-color: #000000;
    animation: moverfondoD 10s linear 0s infinite normal none running;
    margin-top: 345px;
    margin-left: 7.5px;
    z-index: -6;
    width: 195px;
    height: 200px;
    border: 4px solid white;
}

#fondogridgaleria::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.349); /* capa negra semitransparente */
    z-index: -2;
}

#gridbiblioteca {
    position: absolute;
    font-size: 22px;
    margin-top: 565px;
    margin-left: -19px;
    padding: 50px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 110px;
    padding-top: 10px;
    border: 4px solid white;
    animation: moverfondoA 26s linear 0s infinite normal none running;
    background-image: url("seven-back.jpg");
    background-size: 300px;
    z-index: -2;
    justify-content: left;
    text-align: left;
}

#gridbiblioteca::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.59); /* capa negra semitransparente */
    z-index: -2;
}

.botongrid5{
    background-image: url("photosback.gif");
    background-size: cover;
    background-position: center;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.632), inset 2px 2px rgba(245, 245, 245, 0.429);
    border: 2px solid #ffffff;
    color: white;
    font-size: 16px;
    width: 180px;
    height: 40px; 
    cursor: pointer;
    font-family: Pixelify Sans;
    position: absolute;
    margin-top: 642px;
    margin-left: 18.5px;
    padding-bottom: 10px;
    z-index: 201;
}

.botongrid5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.388); /* capa negra semitransparente */
    z-index: -1;
}

.botongrid5 > * {
    z-index: 2;
}

.botongrid6{
    background-image: url("photosback.gif");
    background-size: cover;
    background-position: center;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.632), inset 2px 2px rgba(245, 245, 245, 0.429);
    border: 2px solid #ffffff;
    color: white;
    font-size: 16px;
    width: 180px;
    height: 40px; 
    cursor: pointer;
    font-family: Pixelify Sans;
    position: absolute;
    margin-top: 710px;
    margin-left: 18.5px;
    padding-bottom: 10px;
    z-index: 201;
}

.botongrid6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.388); /* capa negra semitransparente */
    z-index: -1;
}

.botongrid6 > * {
    z-index: 2;
}

.botongrid7{
    background-image: url("photosback.gif");
    background-size: cover;
    background-position: center;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.632), inset 2px 2px rgba(245, 245, 245, 0.429);
    border: 2px solid #ffffff;
    color: white;
    font-size: 16px;
    width: 180px;
    height: 40px; 
    cursor: pointer;
    font-family: Pixelify Sans;
    position: absolute;
    margin-top: 780px;
    margin-left: 18.5px;
    padding-bottom: 10px;
    z-index: 201;
}

.botongrid7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.388); /* capa negra semitransparente */
    z-index: -1;
}

.botongrid7 > * {
    z-index: 2;
}

.botongrid8{
    background-image: url("photosback.gif");
    background-size: cover;
    background-position: center;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.632), inset 2px 2px rgba(245, 245, 245, 0.429);
    border: 2px solid #ffffff;
    color: white;
    font-size: 16px;
    width: 180px;
    height: 40px; 
    cursor: pointer;
    font-family: Pixelify Sans;
    position: absolute;
    margin-top: 850px;
    margin-left: 18.5px;
    padding-bottom: 10px;
    z-index: 201;
}

.botongrid8::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.388); /* capa negra semitransparente */
    z-index: -1;
}

.botongrid8 > * {
    z-index: 2;
}

.botongrid9{
    background-image: url("photosback.gif");
    background-size: cover;
    background-position: center;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.632), inset 2px 2px rgba(245, 245, 245, 0.429);
    border: 2px solid #ffffff;
    color: white;
    font-size: 16px;
    width: 180px;
    height: 40px; 
    cursor: pointer;
    font-family: Pixelify Sans;
    position: absolute;
    margin-top: 915px;
    margin-left: 18.5px;
    padding-bottom: 10px;
    z-index: 201;
}
.botongrid9::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.388); /* capa negra semitransparente */
    z-index: -1;
}

.botongrid9 > * {
    z-index: 2;
}

.botongrid10{
    background-image: url("photosback.gif");
    background-size: cover;
    background-position: center;
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.632), inset 2px 2px rgba(245, 245, 245, 0.429);
    border: 2px solid #ffffff;
    color: white;
    font-size: 16px;
    width: 180px;
    height: 40px; 
    cursor: pointer;
    font-family: Pixelify Sans;
    position: absolute;
    margin-top: 980px;
    margin-left: 18.5px;
    padding-bottom: 10px;
    z-index: 201;
}
.botongrid10::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.388); /* capa negra semitransparente */
    z-index: -1;
}

.botongrid10 > * {
    z-index: 2;
}

.gridsecciones {
    z-index: 199;
}

.contenido2 {
    display: none;
}

.detalles-c1 {
    transition: opacity 0.8s;
    opacity: 1;
}

.detalles-c1.ocultar {
    opacity: 0;
    pointer-events: none;
}

.contenido1 {
    transition: opacity 0.8s;
    opacity: 1;
}

.contenido1.ocultar {
    opacity: 0;
    pointer-events: none;
}
