/*icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/*Darumadrop One - Mynerve - Slackside One*/
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Mynerve&family=Slackside+One&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Mynerve", sans-serif;
    align-content: center;
    justify-content: center;

}

main {
    font-family: Slackside One, sans-serif;
    margin: 300px;
    color: black;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.reproductor-musica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 90px;
    padding: 10px 20px;
    padding-bottom: 20px;
    background: url("mymelo.jpg");
    background-size: cover;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: white;
}

.reproductor-musica::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.337);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

.reproductor-musica > * {
    position: relative;
    z-index: 2;
}

.reproductor-musica h1 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6;
}

.reproductor-musica p {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.7;
}

#progreso {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: rgba(193, 154, 154, 0.821);
    border-radius: 4px;
    margin: 32px 0 24px;
    cursor: pointer;

}

#progreso::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: rgb(255, 246, 246);
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 4px solid #ffffff;
    box-shadow: 0px 7px 10px rgb(255, 208, 208)
}
.controles {
    display: flex;
    justify-content: center;
}

.controles button {
    width: 50px;
    aspect-ratio: 1/1;
    margin: 0px;
    background: rgba(255, 203, 203, 0.884);
    color: rgb(255, 255, 255);
    border-radius: 42%;
    border: 1px solid white;
    outline: 0;
    font-size: 1.5rem;
    box-shadow: 0px 7px 10px rgb(255, 208, 208);
    cursor: pointer;
    transition: all 0.1s linear;
}

.controles .control:hover {
    transform: scale(0.6);
}

.controles .iconoControl:hover {
    transform: scale(0.9);
}

.controles .control {
    transform: scale(0.5);
}

.controles .iconoControl {
    transform: scale(0.8);
}




